.highlighted {
    background-color: blueviolet;
}

.description {
    max-height: 150px;
    overflow: auto;
    border-top: solid .3px rgb(190, 190, 190);
    border-bottom: solid .3px rgb(190, 190, 190);
    padding-block: 60px,
}